
/*light dark theme template color*/
*{
	margin: 0;
	padding: 0;
}

html{
	--bg:#f6f6f6;
	--nav-bg:#ffffff;
	--nav-icon:#101010;
	--primary-icon-hover:#e4e6eb;
	--nav-border:rgba(0,0,0,0.1);
	--default-text:#050505;
	--secondary-text:#606060;
	--border-one:rgba(0,0,0,0.2);
	--p-text:#666666;
}
html[dark]{
	--bg:#18191a;
	--nav-bg:#242526;
	--nav-border:rgba(255,255,255,0.1);
	--primary-icon-hover:rgb(58 59 60);
	--nav-icon:#aaa;
	--default-text:#f2f2f2;
	--secondary-text:#aaa;
	--border-one:rgba(255,255,255,0.2);
	--p-text:#aaa;
}

/*default css styling*/

/*loading css styleing*/

/*dot-falshing animation*/
.dot-flashing{
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

/*end dot loading falsing*/


/*switch designing css*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*end default css styling*/

body {
  background-color: var(--bg);
  font-family: 'Public Sans', sans-serif;
}



/*end default css styling*/


/*header section css*/

header{
	width: 100%;
	height: auto;
	padding: 5px 0px;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	z-index: 100;
}

header nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding: 0px 120px;
}

header nav .nav_logo img{
	width: 40px;
}
header nav .nav_menu ul{
	margin: 0;
	padding: 0;
	list-style: none; 
	display: flex;
}
header nav .nav_menu ul li{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    border-radius: 5px;
}
header nav .nav_menu ul li:hover{
	background-color: var(--primary-icon-hover);
}
header nav .nav_menu ul li.active{
	background-color: #2196F3;
}
header nav .nav_menu ul li.active a{
	color: #f2f2f2;
}
header nav .nav_menu ul li a{
	color: var(--nav-icon);
	font-size: 18px;
}
header nav .nav_action{
	position: relative;
}
header nav .nav_action ul{
	display: flex;
}
header nav .nav_action ul li{
	list-style: none;
	width: 35px;
	height: 35px;
    border-radius: 50%;
    background-color: var(--primary-icon-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
    color: var(--nav-icon);
	font-size: 20px;
	cursor: pointer;
}
.nav_action_setting{
	position: absolute;
	top: 110%;
	right: 0;
	width: 280px;
	height: 0px;
	padding: 0px;
	background-color: var(--nav-bg);
	box-shadow: 0 0 7px var(--nav-border);
	border-radius: 5px;
	overflow: hidden;
	z-index: 100;
}
.nav_action_setting button{
	width: 100%;
	border: none;
	outline: none;
	background:transparent!important;
}
.nav_action_setting a{
	text-decoration: none;
	color:var(--default-text);
}
.nav_action_setting.active{
	height: auto;
	padding: 10px;
}
.nav_action_setting .feedback{
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
}
.nav_action_setting .feedback:hover{
	background-color: var(--bg);
	cursor: pointer;
}
.nav_action_setting .feedback .icon{
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-icon-hover);
	border-radius: 50%;
}
.nav_action_setting .feedback .icon svg{
	font-size: 18px;
	color: var(--nav-icon);
}
.nav_action_setting .feedback .feedback_text{
	margin-left: 5px;
}
.nav_action_setting .feedback .feedback_text h6{
	font-size: 16px;
	color: var(--default-text);
}
.nav_action_setting .theme{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin: 5px 0px;
}
.nav_action_setting .theme .theme_icon{
	display: flex;
	align-items: center;
}
.nav_action_setting .theme .theme_icon h5{
	font-size: 16px;
	color: var(--default-text);
}
.nav_action_setting .theme .icon{
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	font-size: 20px;
	background-color: var(--primary-icon-hover);
	border-radius: 50%;
	color: var(--nav-icon);
}


/*end header section css*/


/*home section start*/

#home{
	width: 100%;
	height: 100vh;
	overflow: auto;
	position: relative;
}

#home_wraper{
    padding: 0px 120px;
	height: 90vh;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
#home_wraper #home_sidebar{
	flex-basis: 25%;
	background-color: var(--nav-bg);
	border: 1px solid var(--nav-border);
	border-radius: 7px;
	padding: 10px;
	margin-top: 5px;
}

#home_wraper #home_post{
	flex-basis: 50%;
	height: 100%;
	overflow: auto;
	padding:10px 20px;
}
#home_wraper #home_sponsure{
	flex-basis: 25%;
	background-color: var(--nav-bg);
	padding: 20px;
	border-radius: 7px;
	border:1px solid var(--nav-border);
	margin-top: 5px;
}

@media(max-width: 1000px){
	header nav{
		padding: 0px 100px;
	}
	#home #home_wraper{
		padding: 0px 100px;
	}
	#home_wraper #home_post{
		flex-basis: 75%;
	}
	#home_wraper #home_sponsure{
		display: none;
	}
}

@media(max-width: 800px){
	header nav{
		padding: 0px 60px;
	}
	#home #home_wraper{
		padding: 0px 60px;
	}
	#home_wraper #home_post{
		flex-basis: 100%;
	}
	#home_wraper #home_sidebar{
		display: none;
	}
}

@media(max-width: 600px){
	header nav{
		padding: 0px 10px;
	}
	#home_wraper #home_post{
		flex-basis: 100%;
	}
	#home #home_wraper{
		padding: 0px;
	}
	#home_wraper #home_post{
		padding:10px 0px;
	}
}

/*end home section*/

/*chat page css styling*/

.chatlist_wraper{
	width: 340px;
	max-width: 100%;
	padding: 10px;
	margin: 0px auto;
}

/*end chat page css styling*/


